/* css styles */
.justify {
  text-align: center
}
.gray-box {
  background-color: #f0f0f0; /* Light gray background */
  padding: 15px;            /* Padding inside the box */
  border-radius: 5px;       /* Rounded corners */
  margin: auto;           /* Margin above and below the box */
  border: 1px solid #dcdcdc; /* Optional: light gray border */
  width: 50%;
  justify-content: center;  
}

